
.alert_boxs{
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
}
.alert_box{
   
    width:170px ;
    height: 30px;
    padding-top: 10px;
    background-color:rgb(2, 48, 4);
    border: 1px solid black;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    
   
}
.btn{
    background-color: blueviolet;
    width: 150px;
    height: 50px;
    transform: translate(550px,250px);
    border-radius: 10px;
    cursor: pointer;
}
body{
    background-color: brown;
}